## Preprocessing

In [16]:
! git clone https://github.com/Leena-680/deep-learning-challenge.git

Cloning into 'deep-learning-challenge'...

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import dask.dataframe as dd
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
application_df = pd.read_csv("Resources/charity_data.csv")
#application_df.head()

#application_df = pd.read_csv('/content/deep-learning-challenge/Resources/charity_data.csv')

# review the DataFrame
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [52]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_df = pd.get_dummies(application_df)
clean_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [28]:
# Split our preprocessed data into our features and target arrays
X = clean_df.drop('IS_SUCCESSFUL', axis=1)
y = clean_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
input_features = X_train_scaled.shape[1]
input_features

43

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  129
hidden_nodes_layer2 = 86
hidden_nodes_layers3 = 43

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layers3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 129)               5676

 dense_4 (Dense)             (None, 86)                11180

 dense_5 (Dense)             (None, 43)                3741

 dense_6 (Dense)             (None, 1)                 44

=================================================================
Total params: 20641 (80.63 KB)
Trainable params: 20641 (80.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5684 - accuracy: 0.7200
Epoch 2/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5543 - accuracy: 0.7296
Epoch 3/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7283
Epoch 4/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7305
Epoch 5/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5497 - accuracy: 0.7322
Epoch 6/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7327
Epoch 7/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 8/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 9/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 10/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7348
Epoch 11/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7356
Epoch 12/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 13/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 14/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7366
Epoch 15/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 16/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 17/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7353
Epoch 18/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7355
Epoch 19/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7357
Epoch 20/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7360
Epoch 21/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7373
Epoch 22/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 23/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7373
Epoch 24/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 25/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 26/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 27/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7371
Epoch 28/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7380
Epoch 29/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5397 - accuracy: 0.7382
Epoch 30/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7390
Epoch 31/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 32/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 33/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 34/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 35/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 36/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 37/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7380
Epoch 38/150
804/804 [==============================] - 5s 7ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 39/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 40/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 41/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 42/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 43/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7395
Epoch 44/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 45/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 46/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 47/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 48/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 49/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7390
Epoch 50/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 51/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 52/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 53/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 54/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 55/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 56/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 57/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 58/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 59/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 60/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 61/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 62/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7396
Epoch 63/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 64/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 65/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 66/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7394
Epoch 67/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 68/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 69/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 70/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 71/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 72/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7414
Epoch 73/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 74/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 75/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 76/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 77/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 78/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 79/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 80/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 81/150

804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7413
Epoch 82/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 83/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 84/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 85/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 91/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7410
Epoch 92/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7417
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7414
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 97/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 98/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7410
Epoch 99/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 104/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 105/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 106/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 107/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 108/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7405
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7412
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 112/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7412
Epoch 113/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7417
Epoch 114/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 115/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 116/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 117/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 118/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 119/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7414
Epoch 120/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7416
Epoch 121/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 122/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5310 - accuracy: 0.7411
Epoch 123/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 124/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 125/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 126/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 127/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7415
Epoch 128/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 129/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7415
Epoch 130/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7410
Epoch 131/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 132/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7416
Epoch 133/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7423
Epoch 134/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7419
Epoch 135/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7414
Epoch 136/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7408
Epoch 137/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5307 - accuracy: 0.7417
Epoch 138/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7417
Epoch 139/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 140/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 141/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5310 - accuracy: 0.7417
Epoch 142/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 143/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7414
Epoch 144/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7416
Epoch 145/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7414
Epoch 146/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7414
Epoch 147/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7421
Epoch 148/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7420
Epoch 149/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7421
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7419

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5972 - accuracy: 0.7292 - 852ms/epoch - 3ms/step
Loss: 0.5971679091453552, Accuracy: 0.7292128205299377

In [35]:
# Export our model to HDF5 file
nn.save("Models/AlphabetSoupCharity.h5")

C:\Users\Folio\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
nn.save("Models/AlphabetSoupCharity.keras")